{% from "_renderfield.html" import renderfield %}

<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h1>The form is below!</h1>
    <form action="/" method="POST">
        {{ form.csrf_token }}
        
        {{ renderfield(form.username) }}

        {{ renderfield(form.password) }}
        
        {{ renderfield(form.age) }}

        {{ renderfield(form.true) }}

        {{ renderfield(form.email) }}

        {{ renderfield(form.first_name) }}

        {{ renderfield(form.last_name) }}

        {{ renderfield(form.home_phone) }}

        {% if form.mobile_phone %}
        {{ renderfield(form.mobile_phone) }}
        {% endif %}

        {% for field in form.years %}
            {{ renderfield(field) }}
        {% endfor %}
        {{ renderfield(form.date) }}

        {{ renderfield(form.recaptcha) }}

        <input type="submit" value="Submit">
    </form>
</body>
</html>